table {
    font-size: 15px !important;
    border: 1px solid #dee2e6;
    width: 100% !important;
    /* width: 100vw;
     
     margin-left: calc(-50vw + 50%) !important; */
 }

 table thead {
    background-color: #fbfbfb;

 }

 table thead tr th {
    color: #3a3a3a !important;
 }

 table td {
    vertical-align: middle !important;
 }


 table tr {
    min-height: 3.25em;
 }

 .product-remove {
    text-align: center;
 }

 .product-remove button.remove {
    display: block;
    font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 18px;
    border-radius: 100%;
    color: #ccc;
    text-decoration: none;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
 }

 .card-view-value button.remove {
    display: block;
    font-family:"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 21px;
    border-radius: 100%;
    color: #ccc;
    text-decoration: none;
    border: 1px solid #ccc;
    display: inline-block;
    vertical-align: middle;
 }

 .product-name a {
    font-weight: 700;
    color: #4169e1;
    display: table-cell;
 }

 .product-price {
    display: table-cell;
    font-weight: 700;
    text-align: left !important;
 }

 .product-quantity {
    text-align: left !important;
 }

 .product-quantity .qty {
    width: 55px;
 }

 .thumbnail-img {
    width: 250px;
    height: 270px;
    max-width: 250px;
    max-height: 320px;
    object-fit: contain;
 }

 .cart-update {
    text-align: right !important;
 }

 .cart-update button {
    font-weight: 700;
    font-size: 14px;
    margin-top: 5px;
    border-color: #9d8f87;
    border: none;
    background-color: #9d8f87;
    color: #FFFFFF !important;
    padding: 10px 30px 10px 30px;
 }

 .row-header {
    text-align: left !important;
    font-weight: 700;
    padding-left: 25px !important;
 }


 .total-price {
    max-width: 100vw !important;
    width: 100vw !important;
    margin-left: calc(-50vw + 50%);

 }

 .total-price thead {
    border: 0;
    background-color: #FFFFFF;
 }

 .total-price tr {
    border: 0;
 }

 .total-price td {
    border: 0;
 }

 .total-price thead th {
    border: 0;
    background: #ebebeb;
 }

 .total-price th {
    border: 0;
 }

 .cart-content table {
    /* width: 50%; */
 }

 .product-details p {
    font-size: 20px;
    margin-bottom: 0;
 }

 @media screen and (max-width: 990px) {
    table {
       width: 100% !important;
    }

    .total-price {
       /* width: 100% !important; */
    }

    .thumbnail-img {
       width: 120px;
       height: 120px;
       max-width: 120px;
       max-height: 150px;
    }

    .product-details p {
       font-size: 12px;
       margin-bottom: 0;
    }

 }

 .entry-content {
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
 }

 .return-to-shop .button {
    border-color: #1f497d;
    background-color: #1f497d;
    color: #FFFFFF;

    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .5em .75em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    border-left: 20px;
    border-right: 20px;
    width: 185px;
    height: 35px;
    text-align: center;
    line-height: 20px;
    display: block;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
 }

 .table-borderless tr {
    border-bottom: solid 1px #ebebeb;
 }

 .product-details {
    line-height: 2;
 }

 .input-number-group {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: left;
 }

 .input-number-group input[type=number]::-webkit-inner-spin-button,
 .input-number-group input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
 }

 .input-number-group .input-group-button {
    line-height: calc(45px/2 - 5px);
 }

 .input-number-group .input-number {
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
    display: block;
    margin: 0;
    width: 150px;
    /* width: 50px;
   height: 20px; */
 }

 /* .input-group-append {
   height: 28px;
}

.input-group-append button {
   padding: 0;
}
.input-group-prepend {
   height: 28px;
}
.input-group-prepend button {
   padding: 0;
} */



 .input-number-group .input-number-decrement,
 .input-number-group .input-number-increment {
    display: inline-block;
    width: 40px;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
 }

 .input-number-group .input-number-decrement {
    margin-right: 0.3rem;
 }

 .input-number-group .input-number-increment {
    margin-left: 0.3rem;
 }

 .cart-content .ast-container {
    padding-left: 0;
    padding-right: 0;
 }

 .cart-content .detail-btn {
    background-color: #FFFFFF;
    border: 1px solid;
 }

 .close {
    font-size: 50px;
 }

 .modal-buttons {
    width: 90%;
    margin: 10px;
    font-size: 15px;
 }

 .modal-body {
    padding-bottom: 60px;
 }

 .modal-full {
    min-width: 90%;

 }

 .modal-full .modal-content {
    min-height: 30vh;
    height: 100%;
 }

 .modal,
 .show,
 .fade {
    padding-right: unset !important;
 }