.banner-1{
    width: 50vw;
    object-fit: contain;
    display: inline-block;
    margin: 0 auto;
}
.wpholder-content dl{
    font-size: 14px;
}

.wpholder-content dt{
    font-size: 14px;
}

.wpholder-content dd{
    font-size: 14px;
}

.wpholder-content p{
    font-size: 14px;
}

.wpholder-content header {
    width:100%;
    text-align:center;
}

#wpholder-content{
    font-size: 14px;
}

@media screen and (max-width: 990px) {

}
